@import url('../../node_modules/font-awesome/css/font-awesome.min.css');

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-rendering: optimizeLegibility;
  height: 100%;
}

th.main-header{
  color:#fff;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-weight: 100;
  font-size:18px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th.main-header:first-child {
  border-top-left-radius:3px;
}
 
th.main-header:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

.box{
  width: 190px;
  height: 270px;
  background-color: #343a45;
}

.previewImg Img{
  width: 89%;
  height: 100%;
}